{% extends 'base.html' %}
{% load static %}

{% block title %}Connect{% endblock %}

{% block content %}
<div class="container py-4 py-md-5 text-secondary">

  <div class="text-center mb-4">
    <h1 class="section-title text-primary">Let's Connect</h1>
    <p class="sub-text text-center">Let's discuss how I can help your team build the next big thing.</p>
  </div>

  <!-- INFO -->
  <div class="row g-3 shadow-blue mt-4 p-3 p-md-5 rounded-4 text-center">

    <div class="col-12 col-md-4">
      <div class="skill-card shadow-lg p-3 p-md-4 h-100">
        <h5 class = "mb-0 text-break"><i class="fa-solid fa-envelope me-2"> </i>Email: nidhireddu40@gmail.com</h5>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="skill-card shadow-lg p-3 p-md-4 h-100">
        <h5 class = "mb-0 text-break"><i class="fa-solid fa-phone"></i>  Mobile: +91 8307720212</h5>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="skill-card shadow-lg p-3 p-md-4 h-100">
        <h5 class = "mb-0 text-break"><i class="fa-solid fa-location-dot"></i>  Location: Haryana, India</h5>
      </div>
    </div>

    <div class="text-center mt-5">
      <p class="text-secondary mb-3 mb-md-4">Connect on social media</p>
  
      <div class="d-flex justify-content-center flex-wrap gap-3 social-icons">
  
        <a href="https://www.linkedin.com/in/nidhireddu40/" target="_blank" class="icon">
          <i class="fab fa-linkedin-in fs-5"></i>
        </a>
  
        <a href="https://github.com/ExpensiveBug" target="_blank" class="icon">
          <i class="fab fa-github fs-5"></i>
        </a>
  
        <a href="mailto:nidhireddu40@email.com" class="icon">
          <i class="fas fa-envelope fs-5"></i>
        </a>
  
      </div>
  
    </div>
  </div>

</div>
{% endblock %}
