* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(15, 13, 59));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.shadow-blue {
  box-shadow: 0 10px 30px rgba(13, 110, 253, 0.25);
}
